//- extends layout

//- block content

//-   // Wrapper
//-   #wrapper

//-     // USER INFO
//-     #userInfo
//-       h1 User Info
//-       p
//-         strong Variable 1:
//-         |  <span id='userInfoName'></span>
//-         br
//-         strong Variable 2 :
//-         |  <span id='userInfoAge'></span>
//-         br
//-         strong Variable 3:
//-         |  <span id='userInfoGender'></span>
//-         br
//-         strong Variable 4:
//-         |  <span id='userInfoLocation'></span>
//-     // /USER INFO

//-     // USER LIST
//-     h2 User List
//-     #userList
//-       table
//-         thead
//-           th Variable 1
//-           th Variable 2
//-           th Delete?
//-         tbody
//-     // /USER LIST

//-     // ADD USER
//-     h2 Add User
//-     #addUser
//-       fieldset
//-         input#inputUserName(type='text', placeholder='Username')
//-         input#inputUserEmail(type='text', placeholder='Email')
//-         br
//-         input#inputUserFullname(type='text', placeholder='Full Name')
//-         input#inputUserAge(type='text', placeholder='Age')
//-         br
//-         input#inputUserLocation(type='text', placeholder='Location')
//-         input#inputUserGender(type='text', placeholder='gender')
//-         br
//-         button#btnAddUser Add User
//-     // /ADD USER

//-   // /WRAPPER