<!DOCTYPE html>
<html>
  <head>
    <title>Delete User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formDelUser" name="deluser" method="delete" action="/delete">
      <input id="inputUserName" type="text" placeholder="username" name="username" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>

    <h1>User List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '<li><a href="mailto:' + userlist[i].email + '">' + userlist[i].username + '</a></li>';
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>